version: '3.9'

services:
  db:
    image: postgres:16
    container_name: algo_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: algo_db
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  web:
    build: ./backend
    container_name: algo_backend
    environment:
      HOST: 0.0.0.0
      PORT: 8000
    volumes:
      - ./backend:/app
    ports:
      - "8001:8000"
    depends_on:
      - db

volumes:
  db_data:
